```shell
ssh 24112456g@csdoor.comp.polyu.edu.hk;
apollo;
source /compsoft/app/oracle/dbms.bashrc;
sqlplus;
"24112456g"@dbms

Username: "24112456g"@dbms

Password: pagsnntf
```


import data   rename `Product`

```sql
drop table A;
insert into A values (1, 'd');

select * from A;
delete from A;  -- delete all rows in A

drop from A where blablabla;



```

In [ ]:

Select table_name from user_tables;

Select table_name from all_tables;