# Tutorial on Python

In [1]:
# print output on screen
print("hello world!")

hello world!

In [119]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [1]:
#practice "if"
if 5<2:
    print("Bingo!")

In [3]:
#creating variables
x = 6     
y = "Polyu"  
print(x)
print(y)

6
Polyu

In [4]:
#change variable type and value
x = 2
x = "Polyu"
print(x)

Polyu

In [5]:
#specify the data type by casting
x = str(3)
y = int(3)
z = float(3)

In [6]:
print(x)
print(y)
print(z)

3
3
3.0

In [7]:
type(x)

str

In [8]:
type(y)

int

In [9]:
type(z)

float

In [10]:
#get the data type 
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [123]:
# integer
x = 4             
print(x, type(x))

4 <class 'int'>

In [124]:
bin(x)

'0b100'

In [125]:
bin(5)

'0b101'

In [12]:
# boolean (True, False)
y = True           
print(y, type(y))

True <class 'bool'>

In [13]:
# floating point
z = 3.7            
print(z, type(z))

3.7 <class 'float'>

In [14]:
# string
s = "This is a string"    
print(s, type(s))

This is a string <class 'str'>

### arithmetic operations

In [1]:
type(3.14)

float

In [15]:
x = 4            # integer
# addition 
x1 = x + 4       
print(x1)
#substraction
y1=x-2
print(y1)

8
2

In [16]:
x += 2           # equivalent to x = x + 2
print(x)

6

In [17]:
# product 
x2=x*3
print(x2)

18

In [18]:
x2 *= 3           # equivalent to x2 = x2 * 3
print(x2)

54

In [19]:
# modulo (remainder) operator
x3 = x % 4
print(x3)

2

In [4]:
# floating point number
y=2.4
# division
y1=y/3
print(y1)

0.7999999999999999

In [21]:
# integer division
y//2

1.0

In [22]:
# square of z 
y2 = y ** 2 
print(y2)

7.290000000000001

In [23]:
# square root
y3 = y2 ** 0.5   
print(y3)

2.7

In [24]:
# equivalent to square of y
y2 = pow(y,2)
print(y2)
pow(y,3)

7.290000000000001

19.683000000000003

In [5]:
# rounding y to its nearest integer 
y4 = round(y)
print(y4)

2

### Math module

In [6]:
import math
x = 4

In [118]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [7]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [27]:
print(math.sqrt(x))      # sqrt(4) = 2

2.0

In [8]:
help(math.trunc)

Help on built-in function trunc in module math:

trunc(x, /)
    Truncates the Real x to the nearest Integral toward 0.

    Uses the __trunc__ magic method.

In [28]:
print(math.pow(x,2))     # 4**2 = 16

16.0

In [29]:
print(math.exp(x))       # exp(4) = 54.6

54.598150033144236

In [30]:
print(math.log(x,2))     # log based 2  (default is natural logarithm)

2.0

In [31]:
print(math.fabs(-4))     # absolute value

4.0

In [32]:
print(math.factorial(x)) # 4! = 4 x 3 x 2 x 1 = 24

24

In [33]:
z = 1.2
print(math.ceil(z))      # ceiling function
print(math.floor(z))     # floor function
print(math.trunc(z))     # truncate function

2
1
1

In [34]:
z = 3*math.pi            # math.pi = 3.141592653589793 
print(math.sin(z))       # sine function
print(math.tanh(z))      # arctan function

3.6739403974420594e-16
0.9999999869751758

In [35]:
#Single and double Quotes are the same
x = "John"
# is the same as
y = 'John'

In [36]:
print(x)

John

In [37]:
print(y)

John

In [38]:
#Case sensitive
a = 4
A = "Sally"

In [39]:
#A will not overwrite a
print(a)
print(A)

4
Sally

In [40]:
#Assign Multiple Values
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [41]:
#unpack a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [42]:
#output can be combined
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [43]:
#global and local variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

## data type presentation

In [44]:
#complex= int+ str
x = 1j 
print(x)
print(type(x))

1j
<class 'complex'>

In [45]:
#list= collection which is ordered and changeable
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [46]:
#tuple=collection which is ordered and unchangeable
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [47]:
#range
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [48]:
#set=collection which is unordered and unindexed. No duplicate members
x = {"apple", "banana", "cherry"}
y = {"apple", "banana", "cherry", "apple"}
print(x)
print(y)
print(type(x))

{'apple', 'cherry', 'banana'}
{'apple', 'cherry', 'banana'}
<class 'set'>

In [49]:
#dict=is a collection which is unordered and changeable. No duplicate members
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [50]:
#frozenset
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [51]:
#bool
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [52]:
#Booleans
print(10 > 9)
print(10 == 9)
print(10>9 and 6<5)
print(10>9 or 6<5)
print(10 != 9)

True
False
False
True
True

## String

In [53]:
#Get the character at position 1(remember that the first character has the position 0)
a = "Hello, World!"
print(a[1])

e

In [54]:
#Get the characters from position 2, and all the way to the end:
b = "Hello, World!"
print(b[2:])

llo, World!

In [55]:
#loop through a string
for x in "banana":
    print(x)

b
a
n
a
n
a

In [56]:
#String Length
a = "Hello, World!"
print(len(a))

13

In [57]:
#Check if "free" is present in the following text:
txt = "The best things in life are free!"
print("free" in txt)

True

In [58]:
#check not
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [59]:
#Upper Case
a = "Hello, World!"
a.upper()

'HELLO, WORLD!'

In [60]:
#lower case
"Hello, World!".lower()

'hello, world!'

In [61]:
#replace string
a = "Hello, World!"
a.replace("H", "J")

'Jello, World!'

In [62]:
#combine string and number
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [63]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

## Int

In [64]:
#operators
x=5
y=2
print(x+y)
print(x*y)
print(x%y)  #Modulus
print(x**y) #Exponentiation
print(x//y)  #Floor division

7
10
1
25
2

In [65]:
#Assignment operators
x+=x
print(x)

10

## List

In [66]:
#A list can contain different data types:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [67]:
#Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[0])#Print the second item of the list
print(thislist[-1])#Print the last item of the list

apple
cherry

In [68]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [69]:
#Add items x=[] x.append
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [70]:
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [71]:
#Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [72]:
#Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [73]:
#Remove Specified last item
thislist = ["apple", "banana", "cherry"]
b = thislist.pop()
print(thislist)
print(b)

['apple', 'banana']
cherry

In [74]:
#make loop through a list
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [75]:
#Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]
z= ["I like" + x for x in thislist]
newlist = [x for x in thislist if "a" in x]

apple
banana
cherry

In [76]:
#looping to count the length
thislist = ["apple", "banana", "cherry"]
y=[]
for x in thislist:
    print("==========")
    print(x)
    print(len(x))
    print(y)
    y.append(len(x))

==========
apple
5
[]
==========
banana
6
[5]
==========
cherry
6
[5, 6]

## Dictionary

In [77]:
thisdict = {
  "brand": "Apple",
  "model": "Iphone13",
}
print(thisdict)

{'brand': 'Apple', 'model': 'Iphone13'}

In [78]:
#access the value
x = thisdict["model"] 
print(x)

Iphone13

In [79]:
x = thisdict.get("model")
print(x)

Iphone13

In [80]:
#  return a list of all the keys in the dictionary.
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model'])

In [81]:
# "year" of the iphone by using the update() method
thisdict.update({"year": 2021}) 
print(thisdict)

{'brand': 'Apple', 'model': 'Iphone13', 'year': 2021}

In [82]:
#add an item
thisdict["color"] = "red" 
print(thisdict)

{'brand': 'Apple', 'model': 'Iphone13', 'year': 2021, 'color': 'red'}

In [83]:
#remove an item
thisdict.pop("model")
print(thisdict)

{'brand': 'Apple', 'year': 2021, 'color': 'red'}

In [84]:
#Loop Through a Dictionary
for x in thisdict:
    print(x)   # print the key
    print(thisdict[x]) # print the value

brand
Apple
year
2021
color
red

## Tuple

In [85]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [86]:
thattuple =tuple(("apple", "banana", "cherry"))
print(thattuple)

('apple', 'banana', 'cherry')

In [87]:
#Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
print(y)
type(y)

['apple', 'banana', 'cherry']

list

In [88]:
y[1] = "kiwi"
print(y)

['apple', 'kiwi', 'cherry']

In [89]:
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [90]:
#join two tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [91]:
#elementwise computation
import numpy as np
my_list = np.array([1, 2, 3, 4, 5])
my_list * 5

array([ 5, 10, 15, 20, 25])

## Set

In [92]:
a1 = {"monkey", "python", "whale"}
a2 = {"monkey", "frong", "lizard"}
print("whale" in a1)
print("whale" in a2)

True
False

In [93]:
#Access item 
for x in a1:
    print(x)

whale
python
monkey

In [94]:
#add new item
a1.add('bat')
print(a1)

{'whale', 'python', 'monkey', 'bat'}

In [95]:
#length
len(a1)

4

In [96]:
#remove item
a1.remove('monkey')
print(a1)
a1.discard('whale')
print(a1)

{'whale', 'python', 'bat'}
{'python', 'bat'}

In [97]:
#merge two set
a2.update(a1)
print(a2)

{'frong', 'lizard', 'python', 'monkey', 'bat'}

In [98]:
a2.union(a1)
print(a2)

{'frong', 'lizard', 'python', 'monkey', 'bat'}

In [99]:
a1.intersection(a2)

{'bat', 'python'}

In [100]:
a2.difference(a1)

{'frong', 'lizard', 'monkey'}

## If command

In [101]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [102]:
# multiple statements
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

## While loop

In [103]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [104]:
# break the loop
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [105]:
## For loop

In [106]:
#loop
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [107]:
#nested loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## Function

In [9]:
#creat a function
def love(name, strong = False):
    if strong:
        print("I love " + name + "!!!")
    else:
        print("I like " + name + ".")

In [10]:
love('dog')

I like dog.

In [11]:
love('cat', strong=True)

I love cat!!!

#### Fibonacci sequence.
It is defined by recursion.
$x_1=1, x_2=1, x_{k}=x_{k-1}+x_{k-2}$, for any $k>2$.

In [111]:
#Fibonacci
def Fibonacci(a):
    if(a <= 2):
        return(1)
    else:
        return(Fibonacci(a - 1) + Fibonacci(a - 2))

In [112]:
Fibonacci(2)

1

In [113]:
Fibonacci(15)

610

## Example 1
Compute $\sum_{k=1}^{100}k$

In [114]:
#1 define a recursion function
A = 0
for k in range(1,101):
    A+=k
print(A)

5050

In [115]:
#2 sum the list
import numpy as np
a= list(range(1,101))
np.sum(a)

5050

In [116]:
#3   sum the range
np.sum(range(1,101))

5050

In [117]:
#4
100*(100+1)/2

5050.0

In [2]:
import numpy as np
import math

In [29]:
#Example
#example 1
import numpy as np
def myExp(x):
    import math
    a=[]
    for k in range(11):
          a.append(x**k/math.factorial(k))
    return(np.sum(a))
 
import numpy as np
def myEx2(x):
    y = 1.0
    temp = 1.0 
    for k in range(1,11):
        temp=temp*(x/k)
        y=y+temp
    return(y)
  
def myEx3(x):
    y = 0
    temp = 0
    while temp<11:
        y=x**i/math.factorial(temp)+y
        temp+=1
    return(y)

In [31]:
print(myExp(4), math.exp(4))

54.44310405643739 54.598150033144236

In [7]:
#example 2
low = -1
high = 0
a =(low+high)/2
for i in range(100):
    if np.exp(a)+a>1e-8:
        high=a
        a=(low+high)/2
    elif np.exp(a)+a<-1e-8:
        low = a
        a=(low+high)/2
    else: 
        print(a)
        print(i)
        break


def mysolve(f, l, h):
    a=(l+h)/2
    for i in range(50):
        if(f(a)>0):
            h=a
        else:
            l=a
        a=(l+h)/2
    print(f(a))

import numpy as np
def myF(x):
    return(np.exp(x)+x)
print(mysolve(myF, l =-1,h =0))

-0.5671432912349701
24
5.551115123125783e-16
None